* text=auto

.gitattributes text eol=lf
.gitignore text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.md text eol=lf

*.cs text eol=crlf
*.xaml text eol=crlf
*.csproj text eol=crlf
*.slnx text eol=crlf
*.manifest text eol=crlf
